.upper-l {
  height: 100%;
  width: 100%;
  margin-top: 100vh;
  background-color: #1c1d20;
  position: relative;
  z-index: 2;
}

.content {
  position: relative;
  z-index: 99;
  color: white;

  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700; // Težina fonta 700 (bold)
  font-style: normal;
}
.splitting .word {
  white-space: nowrap;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

.intro__info.centered::after {
  height: 4rem;
  left: 50%;
  top: 100%;
}

.larger {
  font-size: 1.5rem;
}

.content {
  width: 100vw;
  position: relative;
  padding: 2rem;
  padding-top: 50vh;
}

.content--left {
  padding-left: 3rem;
}

.upper {
  text-transform: uppercase;
}

.content__title {
  font-size: clamp(1rem, 2.75vw, 3rem);
  line-height: 1.2;
  max-width: 1000px;
}

// .narrow {
//   max-width: 800px;
// }

.content__title--smaller {
  font-size: clamp(1rem, 2.75vw, 3rem);
}

.content__text {
  max-width: 600px;
  margin: 0;
}

.mr-b {
  margin-bottom: 50vh;
}
